@import '../../sass/colors.scss';

.score {
    padding: 40px;

    &--red {
        color: $c-red-400;
    }

    &--blue {
        color: $c-blue-400;
    }

    &__title {
        font-size: 11px;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
    }

    &__amount {
        display: block;
        font-size: 36px;
        font-weight: 700;
        margin-top: -6px;
    }
}
