@import 'sass/colors';

body {
    font-family: 'Lato', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 20px 0 0 0;
    color: $c-gray-700;
    background-color: #f2f2f2;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
