@import '../../sass/colors';

$font-weight-guessed: 400;
$font-weight-unguessed: 700;

$box-shadow-unguessed: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$box-shadow-guessed: none;

@mixin tileHover() {
    cursor: pointer;

    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

.tile {
    width: calc(100% - 20px);
    height: 60px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 0 10px 7px 0;
    flex-grow: 1;
    font-weight: 700;
    padding: 10px 0;

    color: black;
    background-color: white;
    border-radius: 4px;
    border: 3px solid transparent;
    box-shadow: $box-shadow-unguessed;
    transition: all 200ms;

    &--spies {
        &.tile {
            &--unguessed {
                &--red {
                    border-color: $c-red-400;
                    color: $c-red-400;
                    font-weight: $font-weight-unguessed;
                    box-shadow: $box-shadow-unguessed;
                    @include tileHover();
                }

                &--blue {
                    border-color: $c-blue-400;
                    color: $c-blue-400;
                    font-weight: $font-weight-unguessed;
                    box-shadow: $box-shadow-unguessed;
                    @include tileHover();
                }

                &--white {
                    border-color: shade($c-beige, 10%);
                    color: shade($c-beige, 10%);
                    font-weight: $font-weight-unguessed;
                    box-shadow: $box-shadow-unguessed;
                    @include tileHover();
                }

                &--black {
                    border-color: $c-gray-700;
                    color: $c-gray-700;
                    font-weight: $font-weight-unguessed;
                    box-shadow: $box-shadow-unguessed;
                    @include tileHover();
                }
            }

            &--guessed {
                &--red {
                    background-color: tint($c-red-400, 75%);
                    color: tint($c-red-400, 30%);
                    font-weight: $font-weight-guessed;
                    box-shadow: $box-shadow-guessed;
                }

                &--blue {
                    background-color: tint($c-blue-400, 75%);
                    color: tint($c-blue-400, 30%);
                    font-weight: $font-weight-guessed;
                    box-shadow: $box-shadow-guessed;
                }

                &--white {
                    background-color: tint($c-beige, 75%);
                    color: shade($c-beige, 10%);
                    font-weight: $font-weight-guessed;
                    box-shadow: $box-shadow-guessed;
                }

                &--black {
                    background-color: tint($c-gray-700, 75%);
                    color: tint($c-gray-700, 30%);
                    font-weight: $font-weight-guessed;
                    box-shadow: $box-shadow-guessed;
                }
            }
        }
    }

    &--players {
        &.tile {
            &--unguessed {
                &--red,
                &--blue,
                &--black,
                &--white {
                    @include tileHover();
                }
            }

            &--guessed {
                &--red {
                    background-color: tint($c-red-400, 75%);
                    color: tint($c-red-400, 30%);
                    font-weight: $font-weight-guessed;
                    box-shadow: $box-shadow-guessed;
                }

                &--blue {
                    background-color: tint($c-blue-400, 75%);
                    color: tint($c-blue-400, 30%);
                    font-weight: $font-weight-guessed;
                    box-shadow: $box-shadow-guessed;
                }

                &--white {
                    background-color: tint($c-beige, 75%);
                    color: shade($c-beige, 10%);
                    font-weight: $font-weight-guessed;
                    box-shadow: $box-shadow-guessed;
                }

                &--black {
                    background-color: tint($c-gray-700, 75%);
                    color: tint($c-gray-700, 30%);
                    font-weight: $font-weight-guessed;
                    box-shadow: $box-shadow-guessed;
                }
            }
        }
    }
}
